<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Edit Detail</title>
</head>
<body>
    <h1>Edit your post</h1>
    <h3>post id: <%=post.id%></h3>
    <h3>post username: <%=post.username%> </h3>
    <form action="/posts/<%=post.id%>?_method=PATCH" method="post">
        <textarea name="content" id="" rows="10" cols="22"> <%=post.content%></textarea>
        <br>
        <button>Submit</button>
    </form>
    
</body>
</html>